html,
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.container-stopwatch,
.stopwatch-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
}

#stopwatch {
  font-size: 4em;
  padding: 50px 100px;
  border: 2px solid gray;
  border-radius: 100px;
}

.button-stopwatch {
  outline: none;
  width: 200px;
  padding: 12px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  margin: 15px 0px;
  cursor: pointer;
}

.green {
  background-color:#7FFF00;
  border: 1px solid #00FF00;
}

.red {
  background-color: #FA8072;
  border: 1px solid #CD5C5C;
}

.gray {
  background-color: #A9A9A9;
  border: 1px solid #696969;
}